@charset "UTF-8";

:root{
    --cor1:#49a09d;
    --cor2:#5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor2);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);

    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: var(--cor2) url('../imagens/metal.jpg');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#login > div#formulário{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p{
    font-size: 0.8em;
    padding-left: 10px;
}

form > div.campo{
    background-color: var(--cor2);
    width: 80%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px auto;
    text-align: center;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 80%;
    height: 40px;
    background-color: var(--cor1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

form > input[type=submit]:hover{
    background-color: #357270;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 80%;
    height: 40px;
    background-color: white;
    color: #357270;
    border: 1px solid #357270;
    border-radius: 7px;
    text-decoration: none;
    margin: auto;
}

form > a.botao:hover{
    background-color: #5bc0bd;
}

form > a.botão > i{
    font-size: 0.8em;
}
